<h1>Chat</h1>
<hr>
<div id="app-mensajes" class="app-mensajes">
    <div [ngClass]="{'text-right': _cs.usuario.uid == chat.uid}" *ngFor="let chat of _cs.chats" class="text-right">
        <span [ngClass]="{'badge-primary': _cs.usuario.uid == chat.uid,
                          'badge-success': _cs.usuario.uid != chat.uid}" class="badge">{{ chat.nombre }}</span>
        <p>{{ chat.mensaje }}</p>
    </div>
</div>

<input (keyup.enter)="enviar_mensaje()" [(ngModel)]="mensaje" name="mensaje" placeholder="Enviar mensaje" class="form-control" type="text">